/* Green */
/* Darkest blue */
/* Blue */
/* Lightest blue */
/* ==========================================================================
   Base
   ========================================================================== */
a {
  color: #02b09b;
}
a:hover,
a:focus {
  text-decoration: none;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5,
#menu,
section.quick-bar {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 36px;
}
input[type=search],
input[type=text],
input[type=password],
input[type=submit],
.btn {
  border: 1px solid #e7e7e7;
  background: #f6f6f6;
  font-size: 11px;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  font-style: normal;
  color: #e7e7e7;
  line-height: 15px;
  height: 15px;
  padding: 4px 8px;
}
.btn {
  border: 1px solid #48648e;
  background: #8c9bbc;
  color: white;
}
/* ==========================================================================
   Structure
   ========================================================================== */
.wrap {
  overflow: hidden;
  margin-top: 10px;
}
#menu {
  float: left;
  width: 220px;
  padding: 0 30px;
  margin: 0 10px;
  min-height: 300px;
  background: #48648e;
}
#content {
  min-height: 400px;
  margin: 0 10px;
  margin-left: 310px;
}
#content section.quick-bar {
  line-height: 30px;
  padding: 10px 0;
  font-style: italic;
  font-size: 12px;
}
#content section.quick-bar p {
  margin: 0;
}
#content section.quick-bar .spacer {
  border-left: 1px dotted gray;
  width: 10px;
  margin: -10px 25px;
  height: 30px;
  display: inline-block;
}
#content section.quick-bar input {
  margin-bottom: 0;
  width: auto;
}
#content section.quick-bar .pull-right {
  margin: 3px 0;
}
body.page article,
body.single article {
  background: white;
  padding: 0 25px 10px;
  margin-bottom: 20px;
}
body.page article header,
body.single article header {
  background: #02b09b;
  color: white;
  padding: 32px 50px;
  margin: 0 -25px 20px;
}
body.page article header h1,
body.single article header h1 {
  margin: 0;
}
body.page article header + p,
body.single article header + p {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ie-column-count: 1;
  column-count: 1;
}
body.page article p,
body.single article p {
  margin: 0 25px 25px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ie-column-count: 2;
  column-count: 2;
}
body.blog section.articles,
body.archive section.articles {
  margin: 0 -10px;
}
body.blog article,
body.archive article {
  float: left;
  width: 49.99%;
}
body.blog article .inner,
body.archive article .inner {
  margin: 0 10px 20px 10px;
  padding: 15px;
  color: white;
  background: #02b09b;
}
body.blog article .inner header,
body.archive article .inner header {
  margin-bottom: 15px;
}
body.blog article .inner header h2,
body.archive article .inner header h2 {
  font-family: 'Oswald', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}
body.blog article .inner header h2 a,
body.archive article .inner header h2 a {
  color: white;
}
body.blog article .inner .media-container,
body.archive article .inner .media-container {
  overflow: hidden;
  margin: 0 -15px 10px;
}
body.blog article .inner .media-container iframe,
body.archive article .inner .media-container iframe,
body.blog article .inner .media-container embed,
body.archive article .inner .media-container embed,
body.blog article .inner .media-container img,
body.archive article .inner .media-container img {
  width: 100%;
  min-height: 100px;
  display: block;
}
body.blog article .inner .meta,
body.archive article .inner .meta {
  display: block;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin: 0 -15px -15px;
  font-weight: 200;
  font-size: .9em;
  line-height: 14px;
}
body.blog article .inner .meta p.byline,
body.archive article .inner .meta p.byline {
  margin: 0;
  font-weight: 600;
}
#bottomFooter {
  background: white;
  padding: 20px 30px;
  margin-top: 10px;
}
/* ==========================================================================
   Menu
   ========================================================================== */
#menu {
  color: white;
  padding-bottom: 20px;
}
#menu header h1 {
  margin: 12px 0 2px 0;
}
#menu header p {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  border: solid rgba(255, 255, 255, 0.3);
  border-width: 1px 0;
  padding: 10px 0;
  margin: 10px 0;
}
#menu ul.menu {
  margin-top: 20px;
  margin-left: -30px;
}
#menu ul.menu > li > p a {
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}
#menu ul {
  margin: 0;
  padding: 0;
  /* Arrow in front of text */

  /* Arrow on white background */

}
#menu ul li {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  margin-top: -1px;
  /* When active */

}
#menu ul li p {
  margin: 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  height: 31px;
  line-height: 32px;
  position: relative;
}
#menu ul li p a {
  color: white;
  display: block;
  margin-left: -30px;
  padding-left: 30px;
  position: relative;
}
#menu ul li p a:hover,
#menu ul li.current-menu-item > p > a {
  background: url(../img/sprites.png) no-repeat rgba(255, 255, 255, 0.3);
  background-position: -135px -32px;
  margin-right: -15px;
  text-decoration: none;
}
#menu ul li.current-menu-item > p > a {
  background-color: white;
  background-position: -135px 0;
  color: #484848;
}
#menu ul li .sub-menu {
  margin-left: -30px;
}
#menu ul li .sub-menu li a {
  padding-left: 45px;
}
#menu ul > li > ul > li p::before {
  background: url(../img/sprites.png) no-repeat;
  background-position: -30px -69px;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  content: "";
  z-index: 1;
}
#menu ul > li > ul > li.current-menu-item p::before {
  background-position: 0 -69px;
}
.sub-menu {
  display: none;
}
.current-menu-ancestor > .sub-menu,
.current-menu-item > .sub-menu {
  display: block;
}
/* ==========================================================================
   Media queries
   ========================================================================== */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .wrap {
    overflow: visible;
  }
  #menu {
    float: none;
    width: auto;
    min-height: auto;
    margin: -12px -20px;
    padding-top: 10px;
  }
  #menu header {
    position: relative;
    padding-left: 100px;
  }
  #menu header h1 {
    margin: 0;
  }
  #menu header center {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -32px;
    width: 90px;
  }
  #menu div ul li.current-menu-item > p > a,
  #menu div ul li p:hover > a {
    background-image: none;
    margin-right: -30px;
  }
  section.quick-bar {
    margin: 20px 0 0;
  }
  #content {
    margin-left: inherit;
    margin-right: inherit;
  }
}
@media (max-width: 480px) {
  body.blog article,
  body.archive article {
    width: 100%;
  }
}
@media (min-width: 979px) {
  body.blog article,
  body.archive article {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  body.blog article,
  body.archive article {
    width: 24.9%;
  }
}
/* ==========================================================================
   Masonry
   ========================================================================== */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}
