/* Green */
/* Darkest blue */
/* Blue */
/* Lightest blue */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ==========================================================================
   Base
   ========================================================================== */
a {
  color: #02b09b;
}
a:hover,
a:focus {
  text-decoration: none;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5,
#menu,
section.quick-bar {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 36px;
}
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 200;
}
input[type=search],
input[type=text],
input[type=password],
input[type=submit],
.btn {
  border: 1px solid #e7e7e7;
  background: #f6f6f6;
  font-size: 11px;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  font-style: normal;
  color: #333333;
  line-height: 20px;
  padding: 4px 8px;
  margin-bottom: 10px;
}
.btn-primary {
  border: 1px solid #48648e;
  background: #8c9bbc;
  color: white;
}
/* ==========================================================================
   Structure
   ========================================================================== */
.wrap {
  overflow: hidden;
  margin-top: 10px;
  max-width: 1440px;
  margin: 10px auto;
}
#columnleft {
  float: left;
  width: 300px;
}
#columnleft #menu,
#columnleft .widget {
  margin: 20px 10px 10px;
}
#columnleft #menu {
  padding: 10px 30px 30px;
  margin-top: 0;
  min-height: 300px;
  background: #48648e;
}
#content {
  min-height: 400px;
  margin: 0 10px;
  margin-left: 310px;
}
#content section.quick-bar {
  line-height: 30px;
  padding: 10px 0;
  font-style: italic;
  font-size: 12px;
}
#content section.quick-bar p {
  margin: 0;
}
#content section.quick-bar .spacer {
  border-left: 1px dotted gray;
  width: 10px;
  margin: -10px 25px;
  height: 30px;
  display: inline-block;
}
#content section.quick-bar input {
  margin-bottom: 0;
  width: auto;
}
#content section.quick-bar .pull-right {
  margin: 3px 0;
}
body section.articles {
  margin: 0 -10px;
}
body .box,
body article {
  float: left;
  width: 49.99%;
}
body .box .inner,
body article .inner {
  margin: 0 10px 20px 10px;
  padding: 15px;
  -webkit-box-shadow: 0 2px 5px 0 #aeaeae;
  -moz-box-shadow: 0 2px 5px 0 #aeaeae;
  box-shadow: 0 2px 5px 0 #aeaeae;
}
/* Single or page style */
article.layout-single {
  width: 100%;
}
article.layout-single .inner {
  background: white;
  padding: 0 25px 10px;
  /*.entry-content {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			-ie-column-count: 2;
			column-count: 2;
		}
		.entry-content > * {
			-webkit-column-span: all;
		  -moz-column-span: all;
		  column-span: all;
		}
		.entry-content > p {
			-webkit-column-span: 1;
		  -moz-column-span: 1;
		  column-span: 1;
		}
	
		header + p {  
			-webkit-column-span:all;
		  -moz-column-span:all;
		  column-span:all;
		}*/

}
article.layout-single .inner header {
  background: #02b09b;
  color: white;
  padding: 32px 50px;
  margin: 0 -25px 20px;
  /*-webkit-column-span:all;
		  -moz-column-span:all;
		  column-span:all;*/

}
article.layout-single .inner header h1 {
  margin: 0;
}
article.layout-single .inner header p {
  margin: 0;
}
article.layout-single .inner header a {
  color: white;
}
article.layout-single .inner header a:hover {
  text-decoration: underline;
}
article.layout-single .inner header + p {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
}
article.layout-single .inner .entry-content {
  padding: 20px 25px;
}
article.layout-single .inner p {
  margin: 0 0 15px;
}
article.layout-single .inner .meta {
  padding: 20px;
  margin: 10px -25px -10px;
  background: #ccc;
}
article.layout-single .inner footer {
  clear: both;
}
/* Post style */
article.layout-archive .inner {
  color: white;
  background: #02b09b;
  -webkit-box-shadow: 0 2px 5px 0 #aeaeae;
  -moz-box-shadow: 0 2px 5px 0 #aeaeae;
  box-shadow: 0 2px 5px 0 #aeaeae;
}
article.layout-archive .inner a {
  color: white;
}
article.layout-archive .inner header {
  margin-bottom: 15px;
}
article.layout-archive .inner header h2 {
  font-family: 'Oswald', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}
article.layout-archive .inner header a {
  color: white;
}
article.layout-archive .inner .media-container {
  overflow: hidden;
  margin: 0 -15px 10px;
}
article.layout-archive .inner .media-container > * {
  display: block;
  max-width: 100%;
}
article.layout-archive .inner .media-container > table {
  display: table;
  width: 100%;
}
article.layout-archive .inner .media-container iframe,
article.layout-archive .inner .media-container embed,
article.layout-archive .inner .media-container img {
  width: 100%;
  min-height: 100px;
}
article.layout-archive .inner .meta {
  display: block;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin: 0 -15px -15px;
  font-weight: 200;
  font-size: .9em;
  line-height: 14px;
}
article.layout-archive .inner .meta p.byline {
  margin: 0;
}
/* Comments layout */
.inner.disqus {
  padding-top: 15px !important;
}
#comments.inner,
#respond.inner {
  padding-top: 15px;
}
form#commentform .with-user {
  display: none;
}
form#commentform.loggedin .with-user {
  display: inline;
}
form#commentform.loggedin .without-user {
  display: none;
}
form#commentform.error {
  color: red;
}
form#commentform.error textarea {
  border-color: red;
}
form#commentform textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 0 15px #ccc;
  box-sizing: border-box;
}
form#commentform input.btn-primary {
  float: right;
  margin-bottom: 0;
}
form#commentform p {
  overflow: hidden;
}
/* Event */
.type-event header p,
.type-bc_event header p {
  font-weight: 600;
}
.type-event date,
.type-bc_event date {
  float: right;
  width: 50px;
  text-align: center;
  margin: 0 0 10px 10px;
  background: #3f72a6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.type-event date month,
.type-bc_event date month,
.type-event date day,
.type-bc_event date day {
  text-transform: uppercase;
  display: block;
}
.type-event date month,
.type-bc_event date month {
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.2);
  letter-spacing: 4px;
}
.type-event date day,
.type-bc_event date day {
  font-size: 29px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
/* Sidebar */
.sidebar.box .inner {
  background: white;
}
.sidebar.box .entry-attachments ul {
  margin: 0 0 10px 0;
}
.sidebar.box .entry-attachments ul li.media {
  list-style: none;
  margin-top: 2px;
}
.sidebar.box .entry-attachments ul i {
  padding-right: 5px;
}
.sidebar.box .media-container {
  overflow: hidden;
  margin: 0 -15px 10px;
}
.sidebar.box .googlemaps {
  height: 200px;
  margin: 10px -15px -15px;
}
.sidebar.box.contact .icon {
  display: inline-block;
  width: 14px;
  text-align: center;
}
#bottomFooter {
  background: white;
  padding: 20px 30px;
  margin-top: 10px;
}
/* ==========================================================================
   Menu
   ========================================================================== */
.widget .widget-inner {
  background: white;
  padding: 15px 25px;
  -webkit-box-shadow: 0 2px 5px 0 #aeaeae;
  -moz-box-shadow: 0 2px 5px 0 #aeaeae;
  box-shadow: 0 2px 5px 0 #aeaeae;
}
.widget table {
  width: 100%;
}
.widget.widget_search form {
  margin: 0;
}
.widget.widget_search input#s {
  width: 150px;
  margin: 0;
}
.widget.widget_search input#searchsubmit {
  width: 55px;
  margin: 0;
}
.widget.widget_playlist .widget-inner {
  padding: 0;
}
#menu {
  color: white;
  padding-bottom: 20px;
}
#menu header h1 {
  margin: 12px 0 2px 0;
}
#menu header p {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  border: solid rgba(255, 255, 255, 0.3);
  border-width: 1px 0;
  padding: 10px 0;
  margin: 10px 0;
}
#menu ul.menu {
  margin-top: 20px;
  margin-left: -30px;
}
#menu ul.menu > li > p a {
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}
#menu ul {
  margin: 0;
  padding: 0;
  /* Arrow in front of text */

  /* Arrow on white background */

}
#menu ul li {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  margin-top: -1px;
  /* When active */

}
#menu ul li p {
  margin: 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  height: 31px;
  line-height: 32px;
  position: relative;
}
#menu ul li p a {
  color: white;
  display: block;
  margin-left: -30px;
  padding-left: 30px;
  position: relative;
}
#menu ul li p a:hover,
#menu ul li.current-menu-item > p > a {
  background: url(../img/sprites.png) no-repeat rgba(255, 255, 255, 0.3);
  background-position: -135px -32px;
  margin-right: -15px;
  text-decoration: none;
}
#menu ul li.current-menu-item > p > a {
  background-color: white;
  background-position: -135px 0;
  color: #484848;
}
#menu ul li .sub-menu {
  margin-left: -30px;
}
#menu ul li .sub-menu li a {
  padding-left: 45px;
}
#menu ul > li > ul > li p::before {
  background: url(../img/sprites.png) no-repeat;
  background-position: -30px -69px;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  content: "";
  z-index: 1;
}
#menu ul > li > ul > li.current-menu-item p::before {
  background-position: 0 -69px;
}
.sidebar-menu-bottom .widget {
  margin-bottom: 20px;
}
.sub-menu {
  display: none;
}
.current-menu-ancestor > .sub-menu,
.current-menu-item > .sub-menu {
  display: block;
}
/* Infini-scroll */
.post-nav {
  display: none;
}
#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 50%;
  bottom: 40px;
  margin-left: -100px;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* ==========================================================================
   Custom elements / object / sections
   ========================================================================== */
.layout-single .gallery {
  margin: 0 -4px 15px;
  padding: 0;
}
.gallery {
  /*box-shadow: inset 0 0 50px rgba(0,0,0,.3);*/

  overflow: hidden;
}
.gallery .gallery-item {
  float: left;
  position: relative;
  margin: 0;
  overflow: hidden;
}
.gallery .gallery-item .thumbnail {
  border: none;
  box-shadow: none;
}
.gallery .gallery-item .thumbnail img {
  width: 100%;
}
.gallery .gallery-item .gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 0 5px 5px 5px;
  padding: 5px;
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: max-height 0.35s ease;
  -moz-transition: max-height 0.35s ease;
  -o-transition: max-height 0.35s ease;
  transition: max-height 0.35s ease;
}
.gallery .gallery-item:hover .gallery-caption {
  white-space: normal;
  max-height: 100%;
}
.gallery.gallery-columns-1 .gallery-item {
  width: 100%;
}
.gallery.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery.gallery-columns-3 .gallery-item {
  width: 33.3%;
}
.gallery.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery.gallery-columns-5 .gallery-item {
  width: 20%;
}
figure {
  margin: 0;
}
figure.thumbnail {
  display: inline-block;
}
.alignleft {
  float: left;
  margin-right: 10px;
}
.alignright {
  float: right;
  margin-left: 10px;
}
article .inner .media-container.gallery-preview {
  background: black;
  position: relative;
}
article .inner .media-container.gallery-preview .ratio-controller {
  background-size: cover;
  background-position: 50% 40%;
}
article .inner .media-container.gallery-preview .control {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
}
article .inner .media-container.gallery-preview .control:hover {
  opacity: 1;
}
article .inner .media-container.gallery-preview .control.next,
article .inner .media-container.gallery-preview .control.next i {
  right: 0;
}
article .inner .media-container.gallery-preview .control.prev,
article .inner .media-container.gallery-preview .control.prev i {
  left: 0;
}
article .inner .media-container.gallery-preview .control i {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  opacity: 0;
  background: #555;
  position: absolute;
  bottom: 0;
  -webkit-transition: opacity .35s ease;
  -moz-transition: opacity .35s ease;
  -o-transition: opacity .35s ease;
  transition: opacity .35s ease;
}
article .inner .media-container.gallery-preview .control:hover i {
  opacity: 1;
}
.gallery-preview,
.gallery {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ==========================================================================
   Media queries
   ========================================================================== */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .wrap {
    overflow: visible;
  }
  #columnleft {
    float: none;
    width: auto;
    min-height: auto;
    margin: -20px -20px 0;
    padding-top: 10px;
  }
  #columnleft #menu {
    margin: 0 0 20px;
  }
  #columnleft header {
    position: relative;
    padding-left: 100px;
  }
  #columnleft header h1 {
    margin: 0;
  }
  #columnleft header center {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -32px;
    width: 90px;
  }
  #columnleft div ul li.current-menu-item > p > a,
  #columnleft div ul li p:hover > a {
    background-image: none;
    margin-right: -30px;
  }
  section.quick-bar {
    margin: 20px 0 0;
  }
  #content {
    margin-left: inherit;
    margin-right: inherit;
  }
}
@media (max-width: 480px) {
  body .box {
    width: 100%;
  }
}
@media (min-width: 979px) {
  article.layout-archive {
    width: 33%;
  }
  article.layout-archive.double {
    width: 66%;
  }
  article.layout-single {
    width: 66%;
  }
  article.layout-single.double {
    width: 100%;
  }
  .box.sidebar {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  article.layout-archive {
    width: 24.9%;
  }
  article.layout-archive.double {
    width: 49.8%;
  }
  article.layout-single {
    width: 49.7%;
  }
  article.layout-single.double {
    width: 100%;
  }
  body.single article.layout-single,
  body.page article.layout-single {
    width: 66%;
  }
  body.single article.layout-single.double,
  body.page article.layout-single.double {
    width: 100%;
  }
  .box.sidebar {
    width: 33%;
  }
}
/* ==========================================================================
   Masonry
   ========================================================================== */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}
